@tailwind base;
@tailwind components;
@tailwind utilities;

input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.bg-blue-landscape {
  background: #27e3fe;
}

.bg-green-landscape {
  background-color: #5bac52;
  color: white;
}

.spacer {
  flex: 1;
}

